h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220601026-2. Proponer acciones para la implementación de estrategias de economía circular de acuerdo con lineamientos técnicos y normativos.




