.container 

    .header-ecored 
        h1 1.	Endomarketing 
    
    .jumbotron.bg-white 
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
        p El endomarketing basa su estructura en el desarrollo de estrategias que permitan que los empleados de la empresa tengan sentido de pertenencia y que se conviertan en promotores de sus productos o servicios, aun estando en horarios no laborales o así sus obligaciones contractuales no tengan nada que ver con las ventas o la promoción. Esto se resume en una frase que el empresario Richard Branson tiene dentro de sus más célebres y que traza parte de su actuar como CEO de sus organizaciones:

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/hyaC1DOSYE8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .jumbotron.bg-1.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img2.png").img-fluid 
                .col
                    .quote.my-3
                        .quote__bar
                            .quote__bar__icon
                                img(src="assets/images/pages/ilustraciones/comilla1.svg", alt="").img-icon                 
                            .quote__bar__hr
                        .quote__text
                            p.mb-0 “Siempre he creído que la forma en la que tratas a tus empleados es la forma en la que ellos tratarán a tus clientes y que las personas florecen cuando se les alaba. Cuando tratamos bien a otras personas, estas tenderán a tratarnos de la misma forma, sean clientes o empleados, un empleado además puede ser un futuro cliente”.
                        .quote__bar
                            .quote__bar__hr
                            .quote__bar__icon
                                img(src="assets/images/pages/ilustraciones/comilla2.svg", alt="").img-icon 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
                h3.mt-3 No tener una estrategia:
                p en cualquier proceso de comunicación se va a dar la necesidad de desarrollar varios mensajes y utilizar una serie de medios, si se lanza el mensaje sin tener una estrategia clara en estos aspectos mínimos, el esfuerzo puede ser infructuoso o llegar a demandar más tiempo de lo que requiere.
                
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid 
                h3.mt-3 Saturación de mensajes:  
                p un plan correcto debería garantizar que con cierto número de mensajes se llegue al público seleccionado de forma clara y directa, la sobrecarga puede afectar la credibilidad y el interés por la comunicación en general.
                
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid 
                h3.mt-3 No medir efectividad:
                p la medición de comunicación es indispensable para determinar si los medios utilizados fueron los adecuados y el mensaje es comprensible; este tipo de mediciones se pueden realizar a través de mecanismos de feedback. Es importante tener claros los indicadores que se van a medir en cada comunicación.
                                    

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/ov1.svg").img-fluid  
            .list__txt    
                p Promueve el uso adecuado de los elementos de identidad corporativa de la empresa.